/* AboutSection.css */

.about-content {
  display: flex;
  flex-direction: row;
    margin-top: 0px;
    margin: 0px 40px 0px 40px !important;
    width: 1000px;
    justify-content: center;
    /* align-items: center; */
    margin-top: 0px;
  }
  
  .about-title {
    display: flex;
    font-size: 2.5rem;
    color: #faf9f9;
    padding: 0px;
  }
  
  .about-description {
    display: flex;
    width: 500px;
    font-size: 1.2rem;
    color: #f8f5f5;
    margin-bottom: 60px;
  }
  
  .tech-skills{
    margin-left: 150px;
align-items: flex-start;
justify-content: center;
  }

  .tech-skills-title {
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 2.5rem;
    color: #fafafa;
    margin-bottom: 0px;
  }
  
  .tech-skills-list {
    display: flex;
flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  .tech-skill {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  .tech-skill:hover {
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }
  