@keyframes moveLeft {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 0);
  }
  50% {
    transform: translate(-40px, 0);
  }
  75% {
    transform: translate(-70px, 0);
  }
  100% {
    transform: translate(-110px, 0);
  }
}

.design-project-card {
  position: relative;
  width: 100%;
  max-width: 350px;
  background-color: #c7c6c6;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 20px auto; /* Center the card horizontally */
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  justify-content: center;
  text-align: center; 
  margin: 15px;
  /* opacity: .8; */

}

.design-project-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  animation: moveLeft 0.2s forwards;
  z-index: 5;
}

.design-project-card img {
  width: 110%;
  height: auto;
}

.design-project-card .content {
  padding: 30px; /* Increase padding inside the card */
}

.design-project-card h3 {
  margin-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

.design-project-card p {
  margin-bottom: 20px;
  margin: 20px;
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.design-project-card .project-links {
  display: flex;
  justify-content: center; /* Center links */
  width: calc(100% - 40px); /* Ensure links span the full width with padding from edges */
  padding: 20px; /* Add padding from the edges */
}

.design-project-card .project-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.design-project-card .project-links a:hover {
  color: #f9f4f4;
}

.design-break{
  background-color: rgba(170, 51, 106, 0.5); 
  height: 3px;
  width: full;
  z-index: 5; 
}