@keyframes curveUpLeft {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, -20px);
  }
  50% {
    transform: translate(-30px, -40px);
  }
  75% {
    transform: translate(-40px, -70px);
  }
  100% {
    transform: translate(-50px, -110px);
  }
}

.developer-project-card {
  background-color: #64ac71; /* Initial background color */
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(251, 250, 250, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.developer-project-card:hover {
  background-color: rgba(248, 249, 250, 0.7); /* Change the opacity on hover */
  animation: curveUpLeft 0.2s forwards;
  color: #090909;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Other styles remain the same */

.developer-project-title {
  font-size: 24px;
  color: #fefefe;
  margin-bottom: 10px;
}

.developer-project-description {
  font-size: 16px;
  color: #fafafa;
  margin-bottom: 20px;
}

.developer-project-description:hover, 
.developer-project-title:hover{
  color: #090909;
}  

.developer-video-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.developer-project-video {
  width: 100%;
  height: auto;
}

.developer-project-links {
  display: flex;
  justify-content: space-between;
}

.developer-github-link,
.developer-details-link {
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  margin-left: 30px;

}

.developer-github-link:hover,
.developer-details-link:hover {
  color: #0056b3;
}
